<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766731705485-ii5907sdb30ajcms7nhb5o59s8iti7s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766731705485-ii5907sdb30ajcms7nhb5o59s8iti7s5</string>
	<key>API_KEY</key>
	<string>AIzaSyAgqY-qHjFKUgiaeGFJY62GFcQ4pxKi36Q</string>
	<key>GCM_SENDER_ID</key>
	<string>766731705485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.go-mama-app</string>
	<key>PROJECT_ID</key>
	<string>gomama-app-3fab4</string>
	<key>STORAGE_BUCKET</key>
	<string>gomama-app-3fab4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766731705485:ios:11de21a8473753f10016c4</string>
</dict>
</plist>